<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ title }}">
    <title>{{ title }}</title>
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/common.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">
    <main class="form-signin">
        <form onsubmit="return false">
            {% module xsrf_form_html() %}
            <div class="t-25"></div>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="name">
                <label for="floatingInput">用户名</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">密码</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput1" placeholder="code">
                <label for="floatingInput1">验证码</label>
            </div>
            <div class="t-15">
                <div class="alert alert-danger alert-dismissible fade show hidden alert0" role="alert">
                </div>
                <div class="alert alert-success alert-dismissible fade show hidden alert1" role="alert">
                </div>
            </div>
            <div class="form-floating">
                <button class="btn btn-lg btn-primary" type="submit" id="submit">登录</button>
                <button class="btn btn-lg btn-warning" type="button" id="sendcode">发送验证码</button>
            </div>
        </form>
    </main>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="static/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }
    $(document).ready(function () {
        $("#sendcode").click(function () {
            xsrf = getCookie('_xsrf')
            var name = $("#floatingInput").val();
            $.ajax({
                url: '/send',
                data: { 'action': 'sendCode', '_xsrf': xsrf, 'name': name },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        $(".alert1").html('The code is send');
                        $(".alert1").show()
                        $(".alert1").hide(2000)
                    }
                },
                error: function () {
                    $(".alert0").html('Something is error');
                    $(".alert0").show()
                    $(".alert0").hide(3000)
                }
            });
        });

        $("#submit").click(function () {
            xsrf = getCookie('_xsrf')
            var name = $("#floatingInput").val();
            var password = $("#floatingPassword").val();
            var code = $("#floatingInput1").val();
            $.ajax({
                url: '/login.html',
                type: 'post',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                data: { '_xsrf': xsrf, 'name': name, 'password': password, 'code': code },
                success: function (d) {
                    if(d.code==1){
                        $(".alert1").html('Login success');
                        $(".alert1").show()
                        $(".alert1").hide(2000)
                        location.href="/"
                    }else{
                        $(".alert0").html('Something is error');
                        $(".alert0").show()
                        $(".alert0").hide(3000)
                    }
                },
                error: function(){
                    $(".alert0").html('Something is error');
                    $(".alert0").show()
                }
            })
        })

    });
</script>

</html>