.t-10 {
    padding-top: 10%;
}
.t-15 {
    padding-top: 15%;
}
.t-25 {
    padding-top: 25%;
}
.hidden {
    display: none;
}
.sa-avatar {
    color: white;
    text-align: center;
    display: inline-block;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select: none;
    font-family: "Helvetica Neue",Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Wenquanyi Micro Hei",sans-serif;
}